<div class="container" style="padding-top:50px;">
    <form action="{% url 'board:create' %}" method="post" enctype="multipart/form-data" id="document-create">
        {% csrf_token %}
        <table class="table table-striped">
        {{form.as_table}}
        </table>

    </form>
    <div style="float:right;">
        <a href="{% url 'board:list' %}" class="btn btn-outline-primary" style="margin-right:10px;">목록</a>
        <button class="btn btn-primary btn-document-create">작성하기</button>
    </div>
</div>
