{% extends 'base.html' %}
{% block title %}
문의사항
{% endblock %}

{% block extra_style %}
<style>


.board-write {
    width:100px;
    float:right;
    margin-bottom:20px;
}
</style>
{% endblock %}

{% block content %}
<div class="container" style="padding-top:50px;">
    <div class="col-auto my-1" align="right">
        <a href="{% url 'board:create' %}" class="btn btn-outline-primary board-write">글 작성</a>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
          {% if currentTopNum %}
              <th scope="col">Number</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Date</th>
          {% else %}
              <th>Title</th>
              <th>Author</th>
              <th>Date</th>
          {% endif %}

        </tr>
        </thead>
        <tbody>
            {% load calc %}
            {% for object in object_list %}
            <tr>
                {% if currentTopNum %}
                <th scope="row"><a class="nav-link " style="color:black;" href="{% url 'board:detail' object.id %}">{{currentTopNum|list_index:forloop.counter0}}</a></th>
                {% endif%}
                <td><a class="nav-link " style="color:black;" href="{% url 'board:detail' object.id %}">{{object.title}}</a></td>
                <td><a class="nav-link " style="color:black;" href="{% url 'board:detail' object.id %}">{{object.author.username}}</a></td>
                <td><a class="nav-link " style="color:black;" href="{% url 'board:detail' object.id %}">{{object.updated}}</a></td>
                </a>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% for page in page_range %}
        <li class="page-item"><a class="page-link" href="{% url 'board:list' %}?page={{page}}">{{page}}</a></li>
        {% endfor %}
    </ul>
</nav>


<form action="" method="get" id="search_form" class="">
    {% csrf_token %}
    <div class="form-row align-items-center justify-content-center">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="username" name="search_type">
            <label class="form-check-label" for="inlineCheckbox1">작성자</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="title" name="search_type"
                   checked>
            <label class="form-check-label" for="inlineCheckbox2">제목</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="text" name="search_type">
            <label class="form-check-label" for="inlineCheckbox3">본문</label>
        </div>
    </div>
    <div class="form-row align-items-center justify-content-center">
        <div class="col-sm-3 my-1">
            <input type="text" class="form-control" placeholder="Search Keyword" name="search_key">
        </div>

        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">검색하기</button>
        </div>
    </div>
</form>

{% endblock %}

{% block extra_script %}
{% endblock %}