<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}{</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block extra_style %}
    {% endblock %}
</head>

<body>
    <div style="height:70px; background-color:rgb(0, 0, 153); line-height:70px">
        <div style="display:inline-block; vertical-align:middle; line-height:normal;">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/" style="color:white; font-weight:bold; padding-top:12px">FASTERCAMPUS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category:list' %}" style="color:white; font-weight:bold;">프로그램</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category:program_list' %}" style="color:white; font-weight:bold;">수강신청</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'board:list' %}" style="color:white; font-weight:bold;">문의사항</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category:my_page' %}" style="color:white; font-weight:bold;">신청내역</a>
                </li>
            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock %}
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block extra_script %}
    {% endblock %}
</body>
</html>