<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% load static %}
    <style>
        #main_div {
            height: 450px;
            background-image:url({% static 'images/main_picture.jpg' %});
            background-position : center top;
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: cover;
            overflow : hidden;
    </style>
    {% block extra_style %}
    {% endblock %}
</head>

<body>

    <div style="height:70px; background-color:rgb(0, 0, 153); line-height:70px">
        <div style="display:inline-block; vertical-align:middle; line-height:normal;">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/" style="color:white; font-weight:bold; padding-top:12px">FASTERCAMPUS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category:list' %}" style="color:white; font-weight:bold;">프로그램</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category:program_list' %}" style="color:white; font-weight:bold;">수강신청</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'board:list' %}" style="color:white; font-weight:bold;">문의사항</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}" style="float:right; color:white; font-weight:bold;">로그인</a>
                </li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:signup' %}" style="float:right; color:white; font-weight:bold;">회원가입</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category:my_page' %}" style="float:right; color:white; font-weight:bold;">신청내역</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}" style="float:right; color:white; font-weight:bold;">로그아웃</a>
                </li>
                {% endif %}


            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block extra_script %}
    {% endblock %}
    <div id="footer">
        <div class="footer-center">
            <div class="footer-contents">
                FASTERCAMPUS
            </div>
            <div class="footer-contents">
                CONTACT
            </div>
            <div class="footer-contents">
                ETC
            </div>
        </div>
    </div>
</body>
</html>