{% extends 'base.html' %}

{% block title %}
FasterCampus
{% endblock %}

{% load static %}
{% block extra_style %}
<style>
.introduceProgram:hover {
    cursor: pointer;
}
.introduceProgram {
    width: 31%;
    float: left;
    margin: 20px 3px 20px 12px;
    background-color: white;
}
#main_div {
    height: 500px;
    background-image:url({% static 'images/main_picture.jpg' %});
    background-position : center top;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    filter: brightness(40%);
}
.main_title {
    position: absolute;
    top:180px;
    left: 670px;
    text-align: center;
    z-index: 9999;
    color: white;

}
</style>
{% endblock %}

{% block content %}
<div class="main_title">
    <h1 style="margin-bottom:30px;">패스터캠퍼스 SCHOOL</h1>
    <h3 style="margin-bottom:20px;">커리어 전환을 위한 가장 혁신적인 교육 기관</h3>
    <p style="font-size:20px; margin:0;">Change your career,</p>
    <p style="font-size:20px; margin-bottom:30px;">Challenge your dream!</p>
    <a href="{% url 'category:program_list' %}" class="btn btn-primary" style="font-size:18px;border-radius:20px;">수강 신청하기</a>
</div>
<div id="main_div"></div>

<div class="container">
    <p style="display:inline-block;padding:20px;font-size:20px; z-index:999; background-color:white;position:relative; top:67px;"><b>관심 분야를 찾아보세요</b></p>
    <hr>
    <div class="subject_info">
        {% for object in object_list %}
        <div class="card introduceProgram" onclick="location.href='{% url 'category:detail' object.id %}';">
            <blockquote class="blockquote mb-0 card-body">
                <p style="text-align:right;font-size:18px;"><b>{{object.name}}</b></p>
                <p style="text-align:right;font-size:15px;color:grey;">{{object.english_name}}</p>
                <p style="text-align:right;">
                    <a href="{% url 'category:detail' object.id %}" class="btn btn-outline-primary" style="border-radius:18px;">강의 자세히 보기</a>
                </p>
                </footer>
              </blockquote>
        </div>
        {% endfor %}
        <div style="clear:both;"></div>
    </div>
    <p style="display:inline-block;padding:20px;font-size:20px; z-index:999; background-color:white;position:relative; top:67px;"><b>Contact Info.</b></p>
    <hr>
    <div class="contact_info" style="text-align:center;">
        <div style="height:30px;"></div>
            <div style="display:inline-block;">
                <div class="card contactInfo" style="float:left;margin-right:20px;border:none;">
                    <blockquote class="blockquote mb-0 card-body">
                        <p style="font-size:18px;">Email: help@fastercampus.co.kr</p>
                        <p style="font-size:18px;">Phone: 02-8282-1004</p>
                    </blockquote>
                </div>
                <div class="card contactInfo" style="float:left;margin-left:20px;border:none;">
                    <blockquote class="blockquote mb-0 card-body">
                        <p style="font-size:18px;">[문의시간]</p>
                        <p style="font-size:18px;">월~금:오전 09:00 ~ 오후 10:30</p>
                        <p style="font-size:18px;">* 주말, 공휴일에는 상담이 불가합니다.</p>
                    </blockquote>
                </div>
            </div>

        <div style="clear:both;"></div>
    </div>

    <p style="display:inline-block;padding:20px;font-size:20px; z-index:999; background-color:white;position:relative; top:67px;"><b>패스터캠퍼스 강의장 위치 안내</b></p>
    <hr>
    <div class="place-info" id="map" style="height:500px; margin-top:50px;">
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId={{naver_id}}"></script>
<script>
    var HOME_PATH = window.HOME_PATH || '.';

    var cityhall = new naver.maps.LatLng(37.5666805, 126.9784147),
        map = new naver.maps.Map('map', {
            center: cityhall.destinationPoint(0, 500),
            zoom: 10
        }),
        marker = new naver.maps.Marker({
            map: map,
            position: cityhall
        });

    var contentString = [
            '<div class="iw_inner" style="padding:20px;">',
            '   <h3>패스터캠퍼스</h3>',
            '   <p>서울특별시 강남구 강남대로 364 / 미왕빌딩 10층, 11층</p>',
            '   <hr>',
            '   <p>서울특별시 강남구 역삼동 826-21<br />',
            '   </p>',
            '</div>'
        ].join('');

    var infowindow = new naver.maps.InfoWindow({
        content: contentString
    });

    naver.maps.Event.addListener(marker, "click", function(e) {
        if (infowindow.getMap()) {
            infowindow.close();
        } else {
            infowindow.open(map, marker);
        }
    });

    infowindow.open(map, marker);

</script>
{% endblock %}



