{% extends 'base.html' %}

{% block title %}
Program List
{% endblock %}

{% block content %}
<div class="container" style="width:80%">
    <div style="margin:30px 0 30px 0"><h4><b>수강 신청</b></h4></div>
    <form action="{% url 'category:program_submit' %}" method="post" id="program_form" style="margin:20px 0 15px 0">
        {% csrf_token %}
        <table style="width:100%; height:400px; margin-bottom:20px; border-top:solid; border-bottom:solid">
            <tr>
                <td>프로그램</td>
                <td>기간</td>
                <td>시간</td>
                <td>강사</td>
                <td>장소</td>
                <td>선택</td>
            </tr>
            <tr>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
            </tr>

            {% for object in object_list %}
            <tr>
                <td>{{object.name}}</td>
                <td>{{object.name.start_date|date:"Y-m-d"}} ~ {{object.name.end_date|date:"Y-m-d"}}</td>
                <td>{{object.start_time|time:"H:i"}} ~ {{object.end_time|time:"H:i"}}</td>
                <td>{{object.teacher}}</td>
                <td>{{object.place}}</td>
                <td><input type="checkbox" class="programChecked" value="{{object.id}}" name="{{object.name}}"></td>
            </tr>
            {% ifequal forloop.counter 3 %}
            <tr>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
            </tr>
            {% endifequal %}
            {% ifequal forloop.counter 6 %}
            <tr>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
                <td><hr></td>
            </tr>
            {% endifequal %}
            {% endfor %}
        </table>
        <input type="hidden" name="is_ajax" value="">
        <input type="submit" style="float:right" class="btn btn-outline btn-primary pull-right" id="selectBtn" value="신청하기">
    </form>
    <div style="clear:right"></div>
    <hr>
    <div>
        My Schedule 부분
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$(function(){
    $("input:checkbox").click(function(){
        var $box = $(this);
        if ($box.is(":checked")){
            var group = "input:checkbox[name='" + $box.attr("name") + "']";

            $(group).prop('checked', false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });

    $('#program_form').submit(function(e){
        e.preventDefault();
        $('input[name="is_ajax"]').val("1");
        var count = 0;
        var obj_id_list = new Array();

        $('input[class=programChecked]:checked').each(function() {
            obj_id_list.push($(this).val());
            count += 1;
        });


        if(count == 0) {
            alert('수업을 선택해주세요.')
        }
        if(count > 0){
            var check = confirm('총 '+count+'개 수업을 선택하셨습니다.\n신청하시겠습니까?');
            if(check == true){
                console.log(obj_id_list);
                url = $(this).attr('action');
                console.log(url);
                jQuery.ajaxSettings.traditional = true;
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: {
                        'obj_id_list[]' : obj_id_list,
                        'csrfmiddlewaretoken':'{{csrf_token}}',
                        'is_ajax':true,
                    },
                }).done(function(data){
                    $('input[name="is_ajax"]').val("");
                    if(data.works){
                        alert('신청 완료되었습니다.');
                        var move = confirm('결제 페이지로 이동하겠습니까?')
                        if(move == true){
                            window.location.href = '{% url 'category:my_page' %}';
                        }
                        else{
                            location.reload();
                        }
                    }
                    if(data.overlaps){
                        alert('수업 시간이 중복될 수 없습니다.\n중복되지 않는 시간으로 선택해주세요.')
                        location.reload();
                    }
                    if(data.enrolledName){
                        alert('이미 신청한 수업중에 동일한 이름의 수업이 있습니다. \n다시 선택해주세요.')
                    }
                    if(data.enrolledTime){
                        alert('이미 신청한 수업중에 동일한 시간대의 수업이 있습니다. \n다시 선택해주세요.')
                    }


                });
            }
        }
        return false;
    });
});
</script>
{% endblock %}

