{% extends 'base.html' %}

{% block title %}
Program List
{% endblock %}

{% block content %}
<div class="container" style="padding-top:50px;">
    <div style="text-align:center;width:200px;margin:30px auto 60px auto"><h2><b>수강 신청</b></h2></div>
    <form action="{% url 'category:program_submit' %}" method="post" id="program_form" style="margin:20px 0 15px 0">
        {% csrf_token %}
        <table class="table table-hover" >
            <thead style="text-align:center;">
                <tr>
                    <th scope="col">프로그램</th>
                    <th scope="col">기간</th>
                    <th scope="col">시간</th>
                    <th scope="col">강사</th>
                    <th scope="col">장소</th>
                    <th scope="col">선택</th>
                </tr>
            </thead>
            <tbody>
                <tr style="padding:3px;">
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                </tr>
                {% for object in object_list %}
                <tr>
                    <td>{{object.name}}</td>
                    <td>{{object.name.start_date|date:"Y-m-d"}} ~ {{object.name.end_date|date:"Y-m-d"}}</td>
                    <td>{{object.start_time|time:"H:i"}} ~ {{object.end_time|time:"H:i"}}</td>
                    <td>{{object.teacher}}</td>
                    <td>{{object.place}}</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="programChecked" value="{{object.id}}" name="{{object.name}}"></td>
                </tr>
                {% ifequal forloop.counter 3 %}
                <tr>
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                </tr>
                {% endifequal %}
                {% ifequal forloop.counter 6 %}
                <tr style="padding:3px;">
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                    <td style="padding:7px;"></td>
                </tr>
                {% endifequal %}
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="is_ajax" value="">
        <input type="submit" style="float:right" class="btn btn-primary pull-right" style="width:100px;" id="selectBtn" value="신청하기">
    </form>
    <div style="clear:both; height:100px;"></div>

</div>
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$(function(){
    $("input:checkbox").click(function(){
        var $box = $(this);
        if ($box.is(":checked")){
            var group = "input:checkbox[name='" + $box.attr("name") + "']";

            $(group).prop('checked', false);
            $box.prop("checked", true);
        } else {
            $box.prop("checked", false);
        }
    });

    $('#program_form').submit(function(e){
        e.preventDefault();
        $('input[name="is_ajax"]').val("1");
        var count = 0;
        var obj_id_list = new Array();

        $('input[class=programChecked]:checked').each(function() {
            obj_id_list.push($(this).val());
            count += 1;
        });


        if(count == 0) {
            alert('수업을 선택해주세요.')
        }
        if(count > 0){
            var check = confirm('총 '+count+'개 수업을 선택하셨습니다.\n신청하시겠습니까?');
            if(check == true){
                url = $(this).attr('action');
                jQuery.ajaxSettings.traditional = true;
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: {
                        'obj_id_list[]' : obj_id_list,
                        'csrfmiddlewaretoken':'{{csrf_token}}',
                        'is_ajax':true,
                    },
                }).done(function(data){
                    $('input[name="is_ajax"]').val("");
                    if(data.notLogin==true){
                        alert('수업 신청을 하기 위해서는 로그인이 필요합니다.');
                    }
                    if(data.works){
                        alert('신청 완료되었습니다.');
                        var move = confirm('신청한 수업을 확인해보시겠습니까?');
                        if(move == true){
                            window.location.href = '{% url 'category:my_page' %}';
                        } else{
                            location.reload();
                        }
                    }
                    if(data.overlaps){
                        alert('수업 시간이 중복될 수 없습니다.\n중복되지 않는 시간으로 선택해주세요.')
                        location.reload();
                    }
                    if(data.enrolledName){
                        alert('이미 신청한 수업중에 동일한 이름의 수업이 있습니다. \n다시 선택해주세요.')
                    }
                    if(data.enrolledTime){
                        alert('이미 신청한 수업중에 동일한 시간대의 수업이 있습니다. \n다시 선택해주세요.')
                    }
                });
            }
        }
        return false;
    });
});
</script>
{% endblock %}

